name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    env:
      CC: clang
      CXX: clang++

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install CMake 4.0.x
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.0.0'

      - name: Install Clang & Ninja
        run: |
          sudo apt update
          sudo apt install -y clang ninja-build

      - name: Verify toolchain
        run: |
          clang++ --version
          cmake --version

      - name: Make build script executable
        run: chmod +x ./build.sh

      - name: Build & Run Tests
        run: ./build.sh test
